noderedflows/serialRead.json
[{"id":"bce96419.e1c1e8","type":"tab","label":"SerialRead","disabled":false,"info":""},{"id":"2345b78a.85d2e8","type":"comment","z":"bce96419.e1c1e8","name":"rate 10/sec","info":"","x":80,"y":100,"wires":[]},{"id":"e2d71503.ca0788","type":"comment","z":"bce96419.e1c1e8","name":"100ms","info":"","x":70,"y":140,"wires":[]},{"id":"72b1a303.c3ebf4","type":"serial in","z":"bce96419.e1c1e8","name":"serial in","serial":"fb014e59.2ef198","x":70,"y":180,"wires":[["f75f364b.60d5f8","81710a98.675128"]]},{"id":"81710a98.675128","type":"function","z":"bce96419.e1c1e8","name":"parse msg","func":"let arr = msg.payload.split(\",\");\n\nlet acc = { payload: { \"aX\": arr[0], \"aY\": arr[1], \"aZ\": arr[2]} }\nlet gyro = { payload: { \"gX\": arr[3], \"gY\": arr[4], \"gZ\": arr[5]}} \n\nreturn [acc, gyro];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":270,"y":200,"wires":[["60d1fc3b.10da6c","729d4c79.b5cc7c"],["79c565db.4177ac","bafaaf1f.de3e9"]]},{"id":"f75f364b.60d5f8","type":"debug","z":"bce96419.e1c1e8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":110,"y":280,"wires":[]},{"id":"60d1fc3b.10da6c","type":"debug","z":"bce96419.e1c1e8","name":"acc","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":410,"y":40,"wires":[]},{"id":"79c565db.4177ac","type":"debug","z":"bce96419.e1c1e8","name":"gyro","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":410,"y":100,"wires":[]},{"id":"729d4c79.b5cc7c","type":"influxdb out","z":"bce96419.e1c1e8","influxdb":"95236980.d0724","name":"RAW_ACC","measurement":"RAW_ACC","precision":"","retentionPolicy":"","x":630,"y":220,"wires":[]},{"id":"bafaaf1f.de3e9","type":"influxdb out","z":"bce96419.e1c1e8","influxdb":"95236980.d0724","name":"RAW_GYRO","measurement":"RAW_GYRO","precision":"","retentionPolicy":"","x":630,"y":260,"wires":[]},{"id":"447ee308.af0a4c","type":"comment","z":"bce96419.e1c1e8","name":"Value in G on each axis","info":"","x":660,"y":180,"wires":[]},{"id":"6d7d5216.683efc","type":"comment","z":"bce96419.e1c1e8","name":"Value in deg/sec","info":"","x":640,"y":300,"wires":[]},{"id":"fb014e59.2ef198","type":"serial-port","serialport":"/dev/ttyACM0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"95236980.d0724","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"PHYS","name":"","usetls":false,"tls":""}]