noderedflows/shaketest.json
[{"id":"2dba98a8.da8008","type":"tab","label":"ShakeTest","disabled":false,"info":""},{"id":"acb8729e.2feb78","type":"influxdb in","z":"2dba98a8.da8008","influxdb":"95236980.d0724","name":"raw_GYRO latest 5","query":"select * from RAW_GYRO order by time desc limit 5","rawOutput":false,"precision":"","retentionPolicy":"","x":110,"y":280,"wires":[["66e8264e.8c9468","429d3251.b497f4"]]},{"id":"9b7ba04e.0d61e","type":"comment","z":"2dba98a8.da8008","name":"data is saved at 10/ sec","info":"","x":150,"y":40,"wires":[]},{"id":"d90d0cf1.ac8dc","type":"comment","z":"2dba98a8.da8008","name":"processing pack of 5 per .5 sec","info":"","x":180,"y":80,"wires":[]},{"id":"6a9261a4.96ca","type":"inject","z":"2dba98a8.da8008","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.5","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":220,"wires":[["acb8729e.2feb78"]]},{"id":"66e8264e.8c9468","type":"debug","z":"2dba98a8.da8008","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":310,"y":140,"wires":[]},{"id":"429d3251.b497f4","type":"function","z":"2dba98a8.da8008","name":"shake","func":"// [ {time, gX, gY, gZ }]\n\nlet arr = msg.payload;\n\nlet time = { topic: \"time\", payload: arr[2].time._nanoISO }\n\n// console.log(\">\", msg.payload[0].gX == null)\n\nlet arrX = {}; arrX.topic = \"arrX\"\nlet arrY = {}; arrY.topic = \"arrY\";\nlet arrZ = {}; arrZ.topic = \"arrY\";\n\narrY.payload = arr.map(y => y.gY);\narrX.payload = arr.map(x => x.gX);\narrZ.payload = arr.map(z => z.gZ);\n\n// console.log( msg.payload[0].gX )\n// console.log(\"-\", arrY.payload)\n\nreturn [ time, arrX, arrY, arrZ];\n\n\n// \"time\":\"2020-10-21T19:04:58.101Z\",\n// \"gX\":\"0.2441\",\n// \"gY\":\"0.2441\",\n// \"gZ\":\"0.1221\"}\n","outputs":4,"noerr":0,"initialize":"","finalize":"","x":350,"y":280,"wires":[["75f9917.83c2ff","d7abc04e.bf4d18"],["ee252def.4d8f18","26a112ef.397046"],["89780f1d.921bb8"],["2d0bdf93.1f6458"]]},{"id":"75f9917.83c2ff","type":"debug","z":"2dba98a8.da8008","name":"mean time","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":550,"y":60,"wires":[]},{"id":"ee252def.4d8f18","type":"debug","z":"2dba98a8.da8008","name":"list","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":560,"y":120,"wires":[]},{"id":"26a112ef.397046","type":"function","z":"2dba98a8.da8008","name":"x shake","func":"let arr = msg.payload.map(s => parseFloat(s));\n\narr = arr.filter(e => !Number.isNaN(e));\n\n// set min max \nlet min = Math.min(...arr);\nlet max = Math.max(...arr);\n\n// get shake intensity\nlet shake = Math.abs(max - min).toFixed(4);\n\n// err check\nif (shake < 0) console.log(\"ohboy, im shooked X\");\n\nmsg.topic = \"shakeX\";\nmsg.payload = shake;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":300,"wires":[["1cab76a8.3e1391","d7abc04e.bf4d18"]]},{"id":"2d0bdf93.1f6458","type":"function","z":"2dba98a8.da8008","name":"z shake","func":"let arr = msg.payload.map(s => parseFloat(s));\n\narr = arr.filter(e => !Number.isNaN(e));\n\n// set min max \nlet min = Math.min(...arr);\nlet max = Math.max(...arr);\n\n// get shake intensity\nlet shake = Math.abs(max - min).toFixed(4);\n\n// err check\nif (shake < 0) console.log(\"ohboy, im shooked Z\");\n\nmsg.topic = \"shakeZ\";\nmsg.payload = shake;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":380,"wires":[["d7abc04e.bf4d18"]]},{"id":"89780f1d.921bb8","type":"function","z":"2dba98a8.da8008","name":"y shake","func":"let arr = msg.payload.map(s => parseFloat(s));\n\narr = arr.filter(e => !Number.isNaN(e));\n\n// set min max \nlet min = Math.min(...arr);\nlet max = Math.max(...arr);\n\n// get shake intensity\nlet shake = Math.abs(max - min).toFixed(4);\n\n// err check\nif (shake < 0) console.log(\"ohboy, im shooked Y\");\n\nmsg.topic = \"shakeY\";\nmsg.payload = shake;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":340,"wires":[["d7abc04e.bf4d18"]]},{"id":"1cab76a8.3e1391","type":"debug","z":"2dba98a8.da8008","name":"shake","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":650,"y":180,"wires":[]},{"id":"a37adda1.7f1188","type":"function","z":"2dba98a8.da8008","name":"shakeIntensity","func":"let obj = msg.payload;\n\nlet shake = (\n    (parseFloat(obj.shakeX) + \n     parseFloat(obj.shakeY) + \n     parseFloat(obj.shakeZ)) /3\n    ).toFixed(4);\n    \nmsg.topic = \"avg\";\nmsg.payload = {\n    avg: shake.toString(),\n    shX: obj.shakeX,\n    shY: obj.shakeY,\n    shZ: obj.shakeZ,\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":260,"wires":[["6ddee01b.c43568","86f5051f.90e528"]]},{"id":"d7abc04e.bf4d18","type":"join","z":"2dba98a8.da8008","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"","count":"4","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":690,"y":260,"wires":[["a37adda1.7f1188"]]},{"id":"6ddee01b.c43568","type":"debug","z":"2dba98a8.da8008","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":930,"y":160,"wires":[]},{"id":"c7accd4c.e6b4f8","type":"function","z":"2dba98a8.da8008","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":640,"wires":[[]]},{"id":"86f5051f.90e528","type":"influxdb out","z":"2dba98a8.da8008","influxdb":"95236980.d0724","name":"SHAKE","measurement":"SHAKE","precision":"","retentionPolicy":"","x":940,"y":360,"wires":[]},{"id":"95236980.d0724","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"PHYS","name":"","usetls":false,"tls":""}]